@import url("https://fonts.googleapis.com/css?family=Heebo:400");
body{
    background-color: #e0e0e0 grey;
}

:root {
    --vertical-padding: 3rem;
    --horizontal-padding: 4%;
    --vertical-spacing: 2.5rem;
}

#particle {
    background-color: black;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #fff;
    max-width: 90%;
    padding: 2em 3em;
    background: transparent;
    text-shadow: 0px 0px 2px #131415;
    font-family: 'Open Sans', sans-serif;
}

.center {
    text-align: center;
}

.circular--square {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

header {
    min-height: auto;
}

@media screen and (max-width: 670px) {
    header {
        min-height: auto;
        min-width: 100%;
    }

    h2.center {
        font-size: 30px;
    }
    .details{
        min-width: 100%;
    }
}

.section {
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.hire-me {
    margin-top: 10px;
}

h1.center {
    margin-top: 0;
}
.contact{
    width: 100%;
}




.main {
    max-width: 92%;
    width: 100%;
    margin: auto;
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
}

.skills {
    /* padding: var(--vertical-padding) 0; */
    font-family: "Heebo", sans-serif;
    background-color: #282843;
    display: grid;
    height: auto;
}

#skills_level {
    text-align: center;
    /* margin-bottom: var(--vertical-spacing); */
}

h4 strong {
    font-size: 13px;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-align: center;
}

.animation {
    width: 100% !important;
    height: auto !important;
    display: none !important;
    visibility: hidden !important;
}

.animation {
    position: relative;
}

@media screen and (min-width: 1025px) {
    [data-size="1025"] {
        display: block !important;
        visibility: visible !important;
    }
}

@media screen and (max-width: 1024px) {
    [data-size="1024"] {
        display: block !important;
        visibility: visible !important;
    }
}


.tabs {
    margin: 10px 0;
}


.wrapper {
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredBox {
    width: 100%;
    text-align: center;
    color: #00c853;
    font-size: 20px;
    font-family: "Monaco", Inconsolata, monospace;
}

@media screen and (max-width: 670px){
    .centeredBox {
        width: 100%;
        text-align: center;
        color: #00c853;
        font-size: 18px;
    }
    #boxes .window {
        position: absolute;
        left: 0;
        top: 100px !important;
        width: 300px !important;
        height: 200px;
        display: none;
        z-index: 9999;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
      }
      
      #boxes #dialog {
        width: 750px;
        height: 300px;
        padding: 10px;
        background-color: #ffffff;
        font-family: 'Segoe UI Light', sans-serif;
        font-size: 15pt;
      }
      #popupfoot {
        font-size: 16pt;
        position: absolute;
        bottom: 0px;
        text-align: center;
        width: 100% !important;
        left: 0 !important;
      }
}

/* The Typewriter */


/* #typewriter {} */

.cursor {
    border-left: 4px solid #00c853;
}

.dollar:before {
    content: '$';
    color: #00c853;
}


/* #section{
    
} */







#mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 3203px !important;
    z-index: 9000;
    background-color: #000;
    display: none;
  }
  
  #boxes .window {
    position: absolute;
    left: 0;
    top: 100px !important;
    width: 400px;
    height: 200px;
    display: none;
    z-index: 9999;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
  }
  
  #boxes #dialog {
    width: 750px;
    height: 300px;
    padding: 10px;
    background-color: #ffffff;
    font-family: 'Segoe UI Light', sans-serif;
    font-size: 15pt;
  }
  
  #popupfoot {
    font-size: 16pt;
    position: absolute;
    bottom: 0px;
    width: 250px;
    left: 250px;
    margin-bottom: 20px;
  }
  /* PreLoader */

  .head{
    letter-spacing: .8px;
    position: relative;
    font-size: 4.1em;
    word-wrap: break-word;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #323232;

    
    margin-top: 0;
  }
  
  .nav_list{
    font-size: 12px;
    line-height: 45px;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  .name{
      text-transform: uppercase;
      font-weight: 600;
      font-size: 40px;
  }
  .my_img{
      position: relative;
      max-width: 100%;
      background-position: center;
      clear: both;
  }
  .about_me_heading{
    font-size: 1.3em;
    letter-spacing: .1em;
    word-wrap: break-word;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    line-height: 1.2;
  }
  .about_me_para{
    font-family: "Merriweather",serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
  }
  .buttons{
      display: inline-flex;
  }
  .button_data{
      margin: 10px;
  }